<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>main page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <table border="1">
             {% for i in  row %}
                <tr>
                  {% for j in col %}
                      <td>faraz</td>
                    
                  {% endfor %}
             
                </tr>
             {% endfor %}



        </table>



        
        <script src="" async defer></script>
    </body>
</html>